# Python
__pycache__/
*.py[cod]
*$py.class
.pytest_cache

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual Environment
venv/
env/
.env/

# PyTorch
*.pth

# Data
data/

# IDE
.vscode/
.idea/

# Logs
*.log 

# Files:
quiz_submission/